.bbcontent{
	position: absolute;
	width: 90%;
	line-height: 50px;
	color: #fff;
	text-align: left;
	top: 100px;
	left: 5%;
	text-shadow:0 0 2px #F5F5DC,0 0 5px #F5F5DC, 0 0 10px #F5F5DC, 0 0 20px #F5F5DC;
	font-size: 20px;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#main{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.bbtext{
	animation: bb 2s ease;
}

@keyframes bb{
	0%{transform: scale(0); opacity: 0;}
	80%{transform: scale(1);opacity: 1;}
	100%{transform: scale(0);opacity: 0;}
}